<?xml version="1.0" encoding="UTF-8"?>
<plugin>

    <name>ピアノロール</name>
    <jarfile>Pianoroll.jar</jarfile>
    <class>org.rz.midiplayerplugin.renderer.pianoroll.PianorollRenderer</class>
    <author>rz</author>
    <version>0.20</version>
    <description>MAMPlayer 風の画面レンダリングプラグイン</description>

</plugin>
