*|body {
  background-color: #708090;
}
*|div.contents {
  border: 4px solid #506070;
  margin: 32px;
  padding: 16px;
  color: black;
  background-color: white;
}
*|a {
  color: #4169e1;
}
*|h1 {
  padding: 8px;
  background-color: #e0e0e0;
}
*|h2 {
  border: 4px solid #c0c0c0;
  padding: 8px;
}
*|h3 {
  border-width: 0px 0px 0px 12px;
  border-left: 12px solid #e0e0e0;
  padding: 8px;
}
